<h3>Notes</h3>
<table class="table table-striped">
    <tbody>
        <% for(i of list){ %>
        <tr>
            <td><%= i.note%></td>
            <td>
            </td>
        </tr>
        <%} %>
    </tbody>
</table>

    